<div>
  <img src="/assets/headshot_sm.JPG" alt="Headshot of Chad Peters">
  <p>
    Hi, I'm <strong>Chad</strong>. I'm a software engineer mostly in the Microsoft stack.
    You can see some of my work on <a href="https://github.com/lightyeare?tab=repositories&q=&type=public&language=&sort=stargazers" target="_blank">GitHub</a>,
    or read more <a href="/about">about me</a> and find my contact info.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
