<footer>
  <span>
    &copy; {new Date().getFullYear()} chadpeters.dev
    Powered by <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.
    Template by <a href="https://github.com/Charca/astro-blog-template" target="_blank" rel="noopener">Maxi Ferreira</a> with a few small changes from me. If it looks weird, it was definitely me. 
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
