<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img alt="Blog Logo" src="/assets/logo.jpg" width="223" height="85" />
</a>
